body{
    color: #02314B;
}
header{
    z-index: 200;
}
nav {
    box-shadow: 0px 1px 0px #E4E8F0;
}
.menu-icon {
    height: 20px;
    cursor: pointer;
}
.logo,
.user-icon {
    height: 30px;
}
.notification-icon,
.options-icon {
    height: 25px;
    cursor: pointer;
}
.user-wrapper {
    cursor: pointer;
}
.down-icon {
    width: 10px;
}
.sidenav {
    position: absolute;
    width: 220px;
    background-color: white;
    transform: translateX(0);
    transition: all 0.6s ease-in-out 0s;
    z-index: 199;
    padding-bottom: 4rem;
}

.hide {
    transform: translateX(-100%);
}
main {
    margin-left: 220px;
    background-color: #f4f6fc;
    transition: all 0.6s ease-in-out 0s;
    min-height: 90vh;
    padding-bottom: 4rem;
}
.expand {
    margin-left: 0;
}
.menu-list {
    list-style: none;
    padding-left: 0;
    padding-top: 1rem;
}
.menu-link {
    padding: 0.8rem 0 0.8rem 1.2rem;
    font-size: 15px;
    color: #2E4E66;
    text-decoration: none;
    display: block;
}
.menu-link:hover {
    color: #2E5BFF;
}
.menu-active {
    background-color: #EBEFFF;
    color: #2E5BFF !important;
    border-left: 2px solid #2E5BFF;
}
.font-14{
    font-size: 14px;
}
.font-12{
    font-size: 12px;
}
.card1 {
    background-color: #B8D0FF;
    border-radius: 10px;
}
.card1 .card-title {
    color: #183B56;
}
.card1 .card-text {
    color: #183B56;
}
.apply-btn {
    background-color: white;
    text-align: center;
    width: 100%;
    border-radius: 8px;
    color: #183B56;
}
.card2{
    border-radius: 10px;
}
.status{
    border-radius: 3px;
    letter-spacing: 0.5px;
}
.in-progress{
    background: #FFF6E7;
    color: #FFA300;
}
.active{
    background: rgba(46, 91, 255, 0.1);
    color: #2E5BFF;
}
.primary-btn{
    background: #2E5BFF;
    border-radius: 6px;
    color: #ffffff;
    height: fit-content;
    width: fit-content;
}
.card2 .card-subtitle{
    font-size: 15px;
    opacity: 0.7;
}

.stepper-wrapper {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
}
.stepper-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    justify-content: space-between;
}
.step-name{
    font-size: 14px;
    opacity: 0.9;
    width: min-content;
    line-height: 17px;
    margin-bottom: 6px;
}
.stepper-item::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #EDEDED;
    width: 100%;
    top: 45px;
    left: -50%;
    z-index: 2;
}

.stepper-item::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #EDEDED;
    width: 100%;
    top: 45px;
    left: 50%;
    z-index: 2;
}

.stepper-item .step-counter {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #EDEDED;
    margin-bottom: 6px;
}

.stepper-item.proces-completed .step-counter {
    background-color: #00DF00;
}

.stepper-item.proces-completed::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #00DF00;
    width: 100%;
    top: 45px;
    left: 50%;
    z-index: 3;
}

.stepper-item:first-child::before {
    content: none;
}
.stepper-item:last-child::after {
    content: none;
}
.title{
    opacity: 0.5;
}
.bottom-card{
    background: #FFFFFF;
    border: 1px solid #E5EAF4;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.03);
    border-radius: 8px;
}
.bottom-card p{
    color: #5A7184;
}
.side-card{
    border-radius: 8px;
}
.side-card1{
    background: #DFEEE0;
}
.side-card p{
    opacity: 0.7;
}
.side-card2{
    background-color: #EFDCC8;
}
.side-card h6{
    color: #2E5BFF;
}
.side-card3{
    background-color: #EAEFFF;
}
.progress{
    height: 7px;
    border-radius: 56px;
    background-color: #cee0e3;
}
.progress-bar{
    background-color: #2E5BFF;
    border-radius: 56px;
    width: 80%;
}
footer {
    margin-left: 220px;
    font-size: 14px;
    color: #183B56;
    opacity: 0.7;
   
}
.footer-link{
    text-decoration: none;
    color: #183B56;
    opacity: 0.7;
    display: inline-block;
}
.social{
    opacity: 1;
}


@media(max-width:1023px){
    main, footer{
        margin-left:0 ;
    }
}

@media(max-width:575px){
    .step-name{
        font-size: 12px;
    }
    .primary-btn{
        margin-top: 0.5rem;
    }
}
